body {
	background-color: black;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 120px;
	height: 500px;
	opacity: 0;
}

.instruct {
	position: relative;
	float: right;
	right: 40px;
	top: 100px;
	text-align: center;
	width: 200px;
}

.instruct li {
	color: white;
	background: rgba(0,0,0,.6);
	border: 2px solid rgba(0,0,0,.8);
	border-radius: 5px;
	margin-bottom: 4px;
	padding: 2px;
}

.instructions {
	display: none;
}

.instructions li {
	color: black;
	text-align: center;
	width: 190px;
	background: white;
	border: 1px solid rgba(0,0,0,.8);
	border-radius: 5px;
	margin-bottom: 4px;
	padding: 2px;
	text-align: left;
	font-size: 14px;
}

.logo {
	width: 380px;
	height: 180px;
	background-image: url('../images/streetfighter.png');
	background-repeat: no-repeat;
	position: absolute;
	left: 660px;
	top: 180px;
}

.jquery-switch {
	background-image: url('../images/jquery-logo.png');
	background-repeat: repeat;
}

.ryu {
	float: left;
	opacity: 0;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready {
		background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
		background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
		background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 160px;
	left: -212px;
	float: left;
}
