body {
	background-color: black;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 120px;
	height: 500px;
}

.instruct {
	position: relative;
	float: right;
	top: 0px;
}

.instruct li {
	text-align: center;
	width: 100%;
}

.ryu {
	float: left;
}

.ryu-still, .ryu-ready, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}
.ryu-ready {
		background-image: url('../images/ryu-ready-position.gif');
}
.ryu-throwing {
		background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
		background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('../images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 160px;
	left: -212px;
	float: left;
}
